body {
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.95vw 2vw;
    
}


.logo img{
    width: 20vw;
    height: auto;

}


.bar img{
    width: 5.09vw;
    height: 3.42vw;

}

.frontpage img{
    position:relative;
    width: 100vw;
    height: auto;
    margin-top: auto;
    
}

.frontpage button {
    border:1px solid #000000;
    background-color: #933C24;
    border-radius: 8px;
    height: 7.63vw;
    width: 29.01vw;
    font-size: medium;
    font-weight: 600px;
    color: white;
    position: absolute;
    top: 65.27vw;
    left: 5.34vw;
}
.frontpage p{
    color:  #E9BD8C;
    position: absolute;
    top: 47vw;
    left: 5.1vw;
    font-size: 10px;
    font-weight: 600;
}
.frontpage h2{
    color: white;
    position: absolute;
    top: 50vw;
    left: 5.1vw;
    font-size: 16px;
    font-weight: 400;
}
.TopProduit {

    justify-content: center;
    text-align: center;

}

.TopProduit h1 {
    font-size: 24px;
    font-weight: 600;
}

.TopProduit .produit1{
    align-items: center;
    position: relative;
    display: inline-block;
}

#background-img {
    align-self: center;
    position: relative;
    height: 76.5vw;
    width: 91.6vw;
    border-radius: 8px;
    margin-bottom: 2.545vw;
}

.TopProduit .produit1 #bread-img {
    position: absolute;
    height: 60vw;
    width: auto;
    top: -10%;
    left: 50%; /*keep the percentage in mind */
    transform: translateX(-50%);
}

.ranger2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50vw;
    left: 9vw;
}

.ranger2 h3{
    color: white;
    font-weight: 600;
    font-size: 16px;

}
.ranger2 h2{
    position: absolute;
    color: white;
    font-weight: 1;
    font-size: 30px;
    left: 60vw;
    top: -50%;

}

.ranger3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60vw;
    left: 9vw;
}

.ranger3 h3 {
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.ranger3 button {
    border:1px solid #000000;
    background-color: #933C24;
    border-radius: 4px;
    height: 44px;
    width: 80px;
    font-size: medium;
    font-weight: 600px;
    color: white;
    position: absolute;
    top: 2vw;
    left: 53vw;
}

.TopProduit .produit2 #patisserie-img {
    position: absolute;
    height: 40vw;
    width: auto;
    top: 185vw;
    left: 50%; /*keep the percentage in mind */
    transform: translateX(-50%);
}

.produit2 .ranger2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 230vw;
    left: 15vw;
}

.produit2 .ranger3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 240vw;
    left: 15vw;
}

.produit3 #baguette-img {
    position: absolute;
    height: 40vw;
    width: auto;
    top: 254vw;
    rotate: -22.97deg;
    left: 50%; /*keep the percentage in mind */
    transform: translateX(-50%);
}

.produit3 .ranger2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 310vw;
    left: 16vw;
}

.produit3 .ranger3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 320vw;
    left: 15vw;
}

.produit4 #miche-img {
    position: absolute;
    height: 40vw;
    width: auto;
    top: 350vw;
    left: 50%; /*keep the percentage in mind */
    transform: translateX(-50%);
}

.produit4 .ranger2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 395vw;
    left: 11vw;
}

.produit4 .ranger3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 405vw;
    left: 10vw;
}

.produit5 #gateau-img {
    position: absolute;
    height: 40vw;
    width: auto;
    top: 430vw;
    left: 50%; /*keep the percentage in mind */
    transform: translateX(-50%);
}

.produit5 .ranger2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 475vw;
    left: 11vw;
}

.produit5 .ranger3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 485vw;
    left: 10vw;
}

.produit6 #miche2-img {
    position: absolute;
    height: 40vw;
    width: auto;
    top: 515vw;
    left: 50%; /*keep the percentage in mind */
    transform: translateX(-50%);
}

.produit6 .ranger2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 550vw;
    left: 11vw;
}

.produit6 .ranger3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 560vw;
    left: 10vw;
}

.reduc {
    background-image: url(images/background_reduc.png);
    background-position: -100% center;
    background-size: cover;
    overflow: hidden;
    height: 90vw;
    width: 100%;
}

.reduc h2 {
    position: absolute;
    text-align: center;
    top: 590vw;
    left: 10px;
    width: 374px;
    color: #933C24;
    font-size: 24px;
    font-weight: 500;
}

.reduc p{
    position: absolute;
    text-align: center;
    top: 620vw;
    left: 49px;
    width: 295px;
    color: #5D5D5D;
    font-size: 16px;
    font-weight: 400;
}

.reduc button{
    background-color: #933C24;
    border-radius: 10px;
    height: 58px;
    width: 177px;
    font-size: medium;
    font-weight: 600px;
    color: white;
    position: absolute;
    top: 650vw;
    left: 99px;
}
.decouvrir .choix {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 5vw;
}

.decouvrir h3{
    text-align: center;
    color: #000000;
    size: 24px;
    font-weight: 600;
}

.choix p{
    margin-left: 5vw;
    color: #5D5D5D;
    size: 16px;
    font-weight: 600;
    margin-top: -3vw;
}

.line {
    margin-top: -5vw;
}
.decouvrir .images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.decouvrir .images img {
    height: 290px;
    width: 298px;
    border-radius: 8px;
    margin-top: 5vw;
}

.apropos{
    background-image: url(images/Aproposback.png);
    background-position: -105% center;
    background-size: cover;
    overflow: hidden;
    height: 380px;
    width: 100%;
    margin-top: 5vw;
}

.apropos h2{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

.apropos p{
    margin-top: 20vw;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #B9B9B9;
}

.apropos button{
    align-items: center;
    position: absolute;
    background-color: #933C24;
    border-radius: 10px;
    height: 58px;
    width: 136px;
    font-size: medium;
    font-weight: 600px;
    color: white;
    margin-left: 30%;
    top: 66.5%;


}

.plaisire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.plaisire img {
    width: 300px;
    height: 297px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.plaisire .rang1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8vw;
}

.plaisire p {
    font-size: 16px;
    font-weight: 600;
}

.plaisire h2 {
    font-size: 24px;
    font-weight: 600;
}

footer{
    background-image: url(images/backsocials.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer #back {
    position: absolute;
    width: 100%;

}

footer #logo2 {
    position: relative;
    top: 65%;
    width: 40vw;
    height: 40vw;
    margin-top: -5vw;
}



footer .socials h3 {
    position: relative;
    color: #E9BD8C;
    margin-top: -10vw;
    width: 146px;
    height: 17px;
    text-align: center;
}