body {
    margin: 0;
}
.logo {
    float: left;
    margin-top: 12px;
    margin-left: 20px;
}

.logo img{
    width: 35px;
    height: 35px;

}

aside{
    float: right;
    margin-left: 20px;
    margin-top: 12px;
}

.bar img{
    width: 20px;
    height: 12px;
}

.frontpage img{
    position:relative;
    width: 100%;
    height: auto;
    
}

.frontpage button {
    border:1px solid #000000;
    background-color: #933C24;
    border-radius: 8px;
    height: 30px;
    width: 114px;
    font-size: medium;
    font-weight: 600px;
    color: white;
    position: absolute;
    top: 200px;
    left: 5px;
}
.frontpage p{
    color:  #E9BD8C;
    position: absolute;
    top: 130px;
    left: 21px;
    font-size: 10px;
    font-weight: 600;
}
.frontpage h2{
    color: white;
    position: absolute;
    top: 145px;
    left: 21px;
    font-size: 16px;
    font-weight: 400;
}
.TopProduit h1{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.TopProduit .produit1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.TopProduit .produit1 img {
    align-self: center;
}