body {
    margin: 0;
}
header{/* define the headband for header*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.95vw 2vw;
    
}

.logo img{
    width: 20vw;
    height: auto;
}
/*burger menu start*/
.off-screen-menu{
    background-color: rgba(0, 0, 0, 0.5);
    height: 50vh;
    width: 100vh;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: -1;
}

.off-screen-menu.active {
    right: 0;
    z-index: 2;
}

nav {
    padding: 1rem;
    display: flex;
    z-index: 1000;

}
.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    z-index: 10001;
}
.ham-menu span {
    height: 5px;
    width: 75%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 10000;
}
.ham-menu.active span:nth-child(2){
    opacity: 0;
}
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}
.off-screen-menu p {
    font-size: 28px;
    text-align: right;
    color: white;
}
/*burger menu end*/
.frontpage img{
    position:relative;
    width: 100vw;
    height: auto;
    margin-top: auto;
    
}

.frontpage button {
    border:1px solid #000000;
    background-color: #933C24;
    border-radius: 8px;
    height: 7.63vw;
    width: 29.01vw;
    font-size: 3.7vw;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 65.27vw;
    left: 5.34vw;
    cursor: pointer;
    transition: background-color 0.2s ease;
    
}
button:active {
    background-color: #63210e;
}
.frontpage .douce {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 135px;
    left: 8%;
}
.frontpage p{
    color:  #E9BD8C;
    font-size: 3.7vw;
    font-weight: 600;
    margin-bottom: 0;
}
.frontpage h2{
    color: white;
    font-size: 5vw;
    font-weight: 400;
    text-align: left;

}
.TopProduit {

    justify-content: center;
    text-align: center;

}
@media (min-width: 1024px) {/*frontpage for pc*/
    .frontpage img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        margin-top: 0;
    }
    .logo {
        margin-top: -5%;
        margin-left: -2%;
        width: 20vw;
        height: auto;
    }

    .frontpage button {
        margin-top: -34%;
        font-size: 3vw;
        height: 6vw;
        width: 20vw;
    }
    .frontpage h2{
        margin-top: -4%;
        text-align: left;
    }
    .off-screen-menu,
    nav,
    .ham-menu span{
        display: none;
    }
    .off-screen-menu {
        color: black;
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        z-index: 2;
        font-size: 22px;
        margin-right: 48%;
        margin-top: -8%;
    }
    .off-screen-menu p {
        font-family: 'Poppins';
        color: white;
        margin: 0 15px;
    }
    .off-screen-menu .Acceuil {
        color: #E9BD8C;
    }
    .frontpage p {
        margin-top: 25%;
    }
}

h1 {
    text-align: center;
    font-size: 5.61vw;
    font-weight: 600;
    font-family: 'Sansita Swashed', cursive;
}

.produit { /*general background for all products*/
    background-image: url(images/food/topproduitback.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    align-self: center;
    position: relative;
    height: 76.5vw;
    width: 91.6vw;
    border-radius: 8px;
    margin-bottom: 2.545vw;
    z-index: -1;
}

.TopProduit .produit #bread-img { /*define size for each image*/
    position: absolute;
    height: 60vw;
    width: auto;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
}

.ranger2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50vw;
    left: 9vw;
}

.ranger2 h3{ /*2nd row; item name + info logo*/
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.ranger2 h2{
    position: absolute;
    color: white;
    font-weight: 1;
    font-size: 34px;
    left: 60vw;
    top: -50%;
}

.ranger3 { /*3rd row, price + button*/
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60vw;
    left: 9vw;
}

.ranger3 h3 {
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.ranger3 button {
    border:1px solid #000000;
    background-color: #933C24;
    border-radius: 4px;
    height: 44px;
    width: 80px;
    font-size: medium;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 2vw;
    left: 53vw;

}

.TopProduit .produit2 #patisserie-img {
    position: absolute;
    height: 40vw;
    width: auto;
    top: 185vw;
    left: 50%; 
    transform: translateX(-50%);
}

.patisserie .ranger2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 230vw;
    left: 15vw;
}

.patisserie .ranger3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 240vw;
    left: 15vw;
}

.produit3 #baguette-img {
    position: absolute;
    height: 40vw;
    width: auto;
    top: 254vw;
    rotate: -22.97deg;
    left: 50%;
    transform: translateX(-50%);
}

.produit3 .ranger2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 310vw;
    left: 16vw;
}

.produit3 .ranger3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 320vw;
    left: 15vw;
}

.produit4 #miche-img {
    position: absolute;
    height: 40vw;
    width: auto;
    top: 350vw;
    left: 50%;
    transform: translateX(-50%);
}

.produit4 .ranger2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 395vw;
    left: 11vw;
}

.produit4 .ranger3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 405vw;
    left: 10vw;
}

.produit5 #gateau-img {
    position: absolute;
    height: 40vw;
    width: auto;
    top: 430vw;
    left: 50%; 
    transform: translateX(-50%);
}

.produit5 .ranger2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 475vw;
    left: 11vw;
}

.produit5 .ranger3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 485vw;
    left: 10vw;
}

.produit6 #miche2-img {
    position: absolute;
    height: 40vw;
    width: auto;
    top: 515vw;
    left: 50%;
    transform: translateX(-50%);
}

.produit6 .ranger2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 550vw;
    left: 11vw;
}

.produit6 .ranger3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 560vw;
    left: 10vw;
}

@media (min-width: 1024px) { /*for pc */
    h1 { /* texte Nos top produits*/
        margin-top: 40%;
    }
    .TopProduit {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.04vw;
        width: 5vw;
        margin: 0 auto;
        background-size: 50vw;
    }

    .produit {
        height: 21.41vw;
        width: 25vw;
        margin-bottom: 0;
        align-items: center;
    }

    .produit img {
        height: 13.02vw;
        top: -1.04vw;
    }

    .produit #bread-img {
        height: 13.02vw !important;
        top: -1.04vw !important;
    }

    .produit .ranger2 {
        top: 12.5vw;
        left: 6vw;
    }

    .produit .ranger3 {
        top: 14.58vw;
        left: 5vw;
    }

    .ranger2 h2 {
        left: 10.42vw;
        top: -1vw;
        font-size: 1.25vw;
        
    }

    .ranger3 button {
        top: 0.52vw;
        left: 9.38vw;
        width: 6vw;
        height: 2.5vw;
        margin-bottom: -5%;
    }
}

.reduc { /*start reductions info page*/
    background-image: url(images/background_reduc.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    height: 90vw;
    width: 100%;
}

.reduc h2 {
    font-family: 'Sansita Swashed', cursive;
    color: #933C24;
    font-size: 5.6vw;
    font-weight: 500;
    margin-bottom: 5vw;
}

.reduc p {

    font-family: 'Inter';
    color: #5D5D5D;
    font-size: 3.7vw;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 295px;
}

.reduc button {
    background-color: #933C24;
    border-radius: 10px;
    height: 14vw;
    width: 41vw;
    font-size: 3.7vw;
    font-weight: 600;
    color: white;
    font-family: 'Inter';

}
@media (min-width: 1025px){
    .reduc{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 43vw;
    }
    .reduc p {
        
        margin-top: 10vh;
        width: 40vw;
        font-size:3vh;
    }
    .reduc h2 {
        margin-bottom: 0;
        font-size: 6vh;
        width: 35vw;
    }
    .reduc button {
        font-size: 4vh;
        height: 9vh;
        width: 35vh;
    }
}

.decouvrir .choix { /*defines the position of each of the names of the products*/
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 5vw;
    overflow: scroll;
    justify-content: space-between;
    gap: 8%;

}

.decouvrir h3{ /*texte decouvrire*/
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: #000000;
    font-size: 6vw;
    font-weight: 600;
}

.choix p{ /*price + names*/
    font-family: 'Poppins';
    color: #5D5D5D;
    font-size: 3.7vw;
    font-weight: 600;
    margin-top: -1vw;
}


.line {
    margin-top: -5vw;

}
.line hr { /*seperations*/
    width: 90%;
    color: #D9D9D9;
}
.decouvrir .images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.decouvrir .images img {
    height: 68vw;
    width: 70vw;
    border-radius: 8px;
    margin-top: 5vw;
}

@media (min-width: 1025px) {
    .decouvrir .images {
        align-items: center;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 2%;
        row-gap: 0;
    }
    .decouvrir .images img {
        width: 50vh;
        height: 50vh;
        margin-bottom: -4vw;
        transition: transform 0.3s ease;
    }
    .img-over{
        transition: transform 0.3s ease;
    }
    .img-over:hover{
        transform: scale(1.1);
    }
    .decouvrir .choix {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 2rem;

    }
    .decouvrir .choix p {
        font-size: 2vw;
        margin-top: 0;
    }

    .line {
        margin-top: -2vw;
    }
}
.apropos{ /*block A propos*/
    background-image: url(images/Aproposback.png);
    background-position: -105% center;
    background-size: cover;
    overflow: hidden;
    height: 380px;
    width: 100%;
    margin-top: 5vw;
}

.apropos h2{
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    font-size: 5vh;
    font-weight: 600;
    color: #FFFFFF;
}

.apropos p{
    font-family: 'Inter';
    margin-top: 20vw;
    text-align: center;
    font-size: 3.7vw;
    font-weight: 400;
    color: #B9B9B9;
}

.apropos button{
    font-family: 'Inter';
    align-items: center;
    position: absolute;
    background-color: #933C24;
    border-radius: 10px;
    height: 14vw;
    width: 31vw;
    font-size: 3.7vw;
    font-weight: 600;
    color: white;
    margin-left: 30%;
    top: 1203vw;
}

@media (min-width: 1025px) {
    .apropos {
        display: grid;
        grid-template-rows: auto auto auto;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 43vw;
        position: relative;
    }

    .apropos h2 {
        margin-top: 5%;
        font-size: 7vh;
    }

    .apropos p {
        margin-top: 0;
        font-size: 5vh;
    }

    .apropos button {
        position: absolute;
        top: 60vh;
        left: 15%;
        width: 12vw;
        height: 5vw;
        font-size: 1.2vw;
        transition: all 0.3s ease;
    }
}


.plaisire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.plaisire img { /*puts all the images in column*/
    width: 70vw;
    height: 70vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.plaisire .rang1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8vw;
}

.plaisire span {
    font-family: 'Inter';
    color: #000000;
    font-size: 5vw;
    font-weight: 600;
}

h2 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 5.6vw;
    font-weight: 600;
    text-align: center;
}

@media (min-width:1025px){
    .plaisire {
        display: grid; /*arranges all the images in a grid for visibility on pc*/
        grid-template-columns: repeat(3, 1fr);
    }
    .plaisire article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .plaisire .rang1 {
        justify-content: space-between;
        width: 40%;
        font-size: 3vh;

    }
    .plaisire img {
        width: 50vh;
        height: 50vh;

    }
}

footer{
    background-image: url(images/backsocials.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

footer #logo2 {
    position: relative;
    top: 65%;
    width: 40vw;
    height: 40vw;
    margin-top: -5vw;
}

footer .socials h2 {
    position: relative;
    color: #E9BD8C;
    margin-top: -10vw;
    width: 34vw;
    height: 2.8vw;
    text-align: center;
    font-family: 'Inter';
}
footer .logos .fa-brands{ /*edits the brand logoes found on font awesom*/
    color: #E9BD8C;
    width: 42vw;
    height: 38vw;
    margin-left: 10vw;
}
.fa-facebook{
    color: #E9BD8C;
}
.fa-pinterest{
    color: #E9BD8C;
}
.fa-whatsapp{
    color: #E9BD8C;
}
.fa-instagram{
    color: #E9BD8C;
}
footer hr {
    width: 90%;
    color: #E9BD8C;

}
footer .row2 { /*groups up the a propos article and explorer article*/
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
}
footer .row2 h2 {
    font-family: 'Inter';
    color: #e9bd8c;
    font-size: 8.4vw;
    font-weight: 700;
    text-align: center;
}

footer .row2 p {
    color: white;
    font-family: 'Poppins';
    font-size: 6vw;
    font-weight: 600;
    margin-bottom: 0.5%;
    margin-right: 10vw;
    margin-top: 5vw;
}



footer .actu {
    font-family: 'Inter';
    color: #e9bd8c;
    font-size: 8.4vw;
    font-weight: 700;
    text-align: center;
}

.nouvdelice{ 
    display: flex;
    flex-direction: row;
}
.nouvdelice .texte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5vw;

}
.nouvdelice img {
    height: 67px;
    width: 100px;
    border-radius: 2px;
}

.nouvdelice p {
    font-family: 'Poppins';
    color: #E9BD8C;
    font-size: 4.21vw;
    margin-bottom: 0;
}

.nouvdelice h3 {
    font-family: 'Poppins';
    color: white;
    font-size: 6vw;
    font-weight: 500;
    margin-top: 0;
}

.painraisin {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.painraisin img {
    height: 67px;
    width: 100px;
    border-radius: 2px;
}

.painraisin .texte {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5vw;
}

.painraisin h3 {
    font-family: 'Poppins';
    color: white;
    font-size: 5.6vw;
    font-weight: 500;
    margin: 0;
}

.painraisin p {
    font-family: 'Poppins';
    color: #E9BD8C;
    font-size: 4.21vw;
    margin: 2px;
    line-height: 1.2;
}

p {
    margin-top: 10vw;
    color: #737373;
    font-size: 3.7vw;
    font-weight: 600;
}

@media (min-width: 1025px){
    footer .row2 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        margin-left: -60%;
    }
    .row2 p {
        font-size: 1vw !important;
    }
    .row2 h2{
        font-size: 3vw !important;
    }

    footer actu {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: right;
        margin-right: -60%;
    }
    footer .topfoot {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap: 50%;
        margin-left: -45%;
    }
    .logo .fa-brands{
        font-size: 2.5vw;
        width: auto;
        height: auto;
    }
    
}