body {
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.95vw 2vw;
    
}


.logo img{
    width: 20vw;
    height: auto;

}


.bar img{
    width: 5.09vw;
    height: 3.42vw;

}

.frontpage img{
    position:relative;
    width: 100vw;
    height: auto;
    margin-top: auto;
    
}

.frontpage button {
    border:1px solid #000000;
    background-color: #933C24;
    border-radius: 8px;
    height: 7.63vw;
    width: 29.01vw;
    font-size: medium;
    font-weight: 600px;
    color: white;
    position: absolute;
    top: 65.27vw;
    left: 5.34vw;
}
.frontpage p{
    color:  #E9BD8C;
    position: absolute;
    top: 130px;
    left: 21px;
    font-size: 10px;
    font-weight: 600;
}
.frontpage h2{
    color: white;
    position: absolute;
    top: 145px;
    left: 21px;
    font-size: 16px;
    font-weight: 400;
}
.TopProduit h1{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.TopProduit .produit1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.TopProduit .produit1 img {
    align-self: center;
}